<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvx-qA1yf9M7g946DjJZE58_lTFvdFZR0</string>
	<key>GCM_SENDER_ID</key>
	<string>655797843910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.minimalmouse.hortivige.hortiVige</string>
	<key>PROJECT_ID</key>
	<string>esyncslot</string>
	<key>STORAGE_BUCKET</key>
	<string>esyncslot.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655797843910:ios:72920e64b501c9cf0fa4c7</string>
</dict>
</plist>